* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #489cc1;
  font-family: Roboto,sans-serif;
  font-size: 2rem;
  width: 100%;
}

.container_confetti  h3 {
  text-align: left;
  color: #fff;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-start;
  margin-top: -67rem;
  padding-left: 46px;
}