.editList {
    display: none;
    margin-left: 10px;
}

#containerEditList:nth-child(*) {
    margin-left: 15px;
}

input {
    border: 1px solid #e7e7e7;
}

.button {
    background-color: transparent;
    color: #489CC1;
    border: none;
    margin: 0 5px;
    font-size: 20px;
}

.button:hover {
    color: black;
}

.edit, .delete {
    border: none;
    color: #489cc1;
    background-color: transparent;
    font-size: 20px;
    padding-left: 5px;
}

.edit:hover, .delete:hover {
    color: black;
}

.Icons div:first-child {
    margin-left: 7rem;
}